<?xml version="1.0" encoding="UTF-8" ?>
 <!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.shovvel.dm.dao.management.member.MemberMapper">

	<!-- 코치 회원가입 > 아이디 중복 확인 -->
	<select id="selectCoachIdCnt" resultType="int">
		<![CDATA[
			SELECT COUNT(0)
			  FROM ONC_COM_USER
			 WHERE USER_EMAIL = #{condition.user_email}
		]]>
	</select>


	<!-- SMS > 사용자 인증번호 검증 테이블 등록 -->
	<insert id="insertSmsCertNumber">
		<![CDATA[
		/* QUERY ID : insertSmsCertNumber */
		INSERT INTO ONC_SMS_SEND_PHONE (
			RECEIVE_HP_NO
			,CERT_NUM
			,USE_YN
			,INS_DT
		) VALUES (
			#{condition.receive_hp_no}
			,#{condition.cert_num}
			,'Y'
			,SYSDATE()
		)
		]]>
	</insert>

	<!-- SMS > 사용자 인증번호 SMS 전송 -->
	<insert id="insertSms">
		<![CDATA[
		/* QUERY ID : insertSms */
		INSERT INTO COM_SMS_SEND_HIST (
			RECEIVE_HP_NO
			,SMS_MSG_CTCD
			,SMS_MSG_CTNT
			,SMS_MSG_SEND_FINISH_YN
			,INS_DT
			,UPD_DT
		) VALUES (
			#{condition.receive_hp_no}
			,#{condition.sms_msg_ctcd}
			,#{condition.sms_msg_ctnt}
			,'N'
			,SYSDATE()
			,SYSDATE()
		)
		]]>
	</insert>

	<!-- SMS > 사용자 인증번호 확인 -->
	<select id="selectSmsCertInfo" resultType="int">
		<![CDATA[
		/* QUERY ID : selectSmsCertInfo */
		SELECT
			COUNT(SMS_MSG_SNO)
		FROM
			ONC_SMS_SEND_PHONE
		WHERE
			RECEIVE_HP_NO = #{condition.receive_hp_no}
			AND USE_YN = 'Y'
			AND CERT_NUM = #{condition.cert_num}
			AND TIMESTAMPDIFF(MINUTE, INS_DT, NOW()) < 3
		]]>
	</select>

	<!-- SMS > 인증번호 확인 -->
	<update id="updateSmsCertNumberUseYn">
		<![CDATA[
		/* QUERY ID : updateSmsCertNumberUseYn */
		UPDATE
			ONC_SMS_SEND_PHONE
		SET
			USE_YN = 'N'
		WHERE
			RECEIVE_HP_NO = #{condition.receive_hp_no}
			AND CERT_NUM = #{condition.cert_num}
		]]>
	</update>

	<!-- 코치회원가입 > 코치 등록 -->
	<insert id="insertCoach">
		<selectKey keyProperty="condition.user_sno" resultType="int" order="AFTER">
		<![CDATA[
			SELECT LAST_INSERT_ID() AS USER_SNO
		]]>
  		</selectKey>
		<![CDATA[
			INSERT INTO ONC_COM_USER (
				PARTNER_SNO
			  , USER_FNM
			  , LOGIN_ID
			  , LEVEL_ID
			  , USER_CTCD
			  , USER_HP_NO
			  , USER_EMAIL
			  , USER_INTRODUCE
			  , IMG_FILE_SNO
			  , PASSWD
			  , DEFAULT_PASSWD_YN
			  , PASSWD_EXFIRE
			  , RETRY_COUNT
			  , ACCOUNT_EXFIRE
			  , STATUS
			  , INS_DT
			  , INS_USER_SNO
			  , UPD_DT
			  , UPD_USER_SNO
			) VALUES (
			    #{condition.partner_sno}
			  , #{condition.user_fnm}
			  , #{condition.login_id}
			  , #{condition.level_id}
			  , #{condition.user_ctcd}
			  , #{condition.receive_hp_no}
			  , #{condition.user_email}
			  , #{condition.user_introduce}
			  , #{condition.img_file_sno}
			  , #{condition.passwd}
			  , #{condition.default_passwd_yn}
			  , DATE_FORMAT(DATE_ADD(NOW(),INTERVAL #{condition.passwd_life_cycle} DAY), '%Y%m%d')
			  , 0
			  , #{condition.account_exfire}
			  , 'Y'
			  , NOW()
			  , #{condition.userSno}
			  , NOW()
			  , #{condition.userSno}
			)
		]]>
	</insert>

	<!-- 코치회원가입 > 코치 프로필 사진 정보 업데이트 -->
	<update id="updateImgFileSnoCoach">
		<![CDATA[
		/* QUERY ID : updateImgFileSnoCoach */
		UPDATE
			ONC_COM_USER
		SET
			IMG_FILE_SNO = #{condition.img_file_sno}
		WHERE
			USER_SNO = #{condition.user_sno}
		]]>
	</update>

    <select id="selectCoachDetail" resultType="kr.co.shovvel.dm.domain.management.member.MemberDomain">
		<![CDATA[
        SELECT /* MemberMapper.selectCoachDetail */
               A.USER_SNO
             , A.PARTNER_SNO
             , '' AS PARTNER_CLCD
             , A.LOGIN_ID
             , A.USER_FNM
             , (SELECT LEVEL_TITLE
                    FROM ONC_COM_USER_LEVEL
                   WHERE LEVEL_ID = A.LEVEL_ID) 	AS LEVEL_NAME
             , A.LEVEL_ID
             , A.USER_INTRODUCE
             , A.RETRY_COUNT
             , A.LAST_LOGIN_DATE
             , A.STATUS
             , IFNULL(B.LOCK_TYPE,'M')				LOCK_TYPE
             , IFNULL(B.ABSENT_LOCK_DAY,10*365)		AS ABSENT_LOCK_DAY
             , CASE WHEN
             	DATE_ADD(IFNULL(A.LAST_LOGIN_DATE,NOW()), INTERVAL IFNULL(B.ABSENT_LOCK_DAY,10*365) DAY) < NOW()
             		THEN 'L'
             		ELSE 'Y'
               END									ABSENT_LOCK
             , A.DEFAULT_PASSWD_YN
             , B.PASSWD_LIFE_CYCLE
             , NULL AS GROUP_NO
          FROM ONC_COM_USER 								A
          LEFT JOIN ONC_COM_USER_LEVEL						B
            ON A.LEVEL_ID = B.LEVEL_ID
         WHERE 1=1
           AND A.USER_SNO 					= #{condition.user_sno}
           AND A.STATUS 							= 'Y' /* Y:정상, N:삭제, L:계정잠금(LOCK) */
		]]>
    </select>


	<!-- 내정보 > 현재 비밀번호 확인 -->
	<select id="selectEqPasswdOrg" resultType="kr.co.shovvel.dm.domain.management.member.MemberDomain">
		<![CDATA[
		/* QUERY ID : selectEqPasswdOrg */
		SELECT
			USER_SNO
		FROM
			ONC_COM_USER
		WHERE
			USER_SNO = #{condition.user_sno}
		AND
			PASSWD = #{condition.passwd}
		]]>
	</select>

	<!-- 내정보 > 정보 변경 -->
	<update id="updateCoach">
		<![CDATA[
		/* QUERY ID : updateCoach */
		UPDATE
			ONC_COM_USER
		SET
			USER_INTRODUCE = #{condition.user_introduce}
		]]><if test="condition.passwd not in {null, ''}"><![CDATA[
			, PASSWD = #{condition.passwd}
		]]></if><![CDATA[
		WHERE
			USER_SNO = #{condition.user_sno}
		AND
			STATUS = 'Y'
		]]>
	</update>

</mapper>