<?xml version="1.0" encoding="UTF-8" ?>
 <!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.shovvel.dm.dao.management.operation.menu.MenuMapper">

    <!--
    	** 모든 메뉴 조회
    	-->
	<select id="listAllMenu" parameterType="string" resultType="kr.co.shovvel.dm.domain.management.operation.menu.MenuVO">
		SELECT * FROM ONC_COM_USER_MENU WHERE USE_YN = 'Y'
	</select>

	<!--
    	** 권한별 매뉴 조회
    	-->
	<select id="listAuthorizationMenu" parameterType="string" resultType="kr.co.shovvel.dm.domain.management.operation.menu.MenuVO">
	SELECT * <!-- select listAuthorizationMenu  -->
             , CASE DEPTH WHEN 3 THEN (SELECT DISPLAY_ORDER * 1000 FROM ONC_COM_USER_MENU WHERE MENU_ID = TBL.TEMP_VALUE) + (SELECT DISPLAY_ORDER FROM ONC_COM_USER_MENU WHERE MENU_ID = TBL.TEMP_VALUE2) ELSE TEMP_VALUE  END AS VIRTUAL_ORDER
             FROM  (SELECT A.MENU_ID
                         , A.UP_MENU_ID
                         , A.MENU_NAME
                         , A.MENU_PATH
                         , A.IS_FOLDER
                         , A.DEPTH
                         , A.POPUP_YN
                         , A.DISPLAY_ORDER
                         , IFNULL(B.CNT, 0) AS CHILD_CNT
                         , CASE A.DEPTH WHEN 1 THEN A.DISPLAY_ORDER*1000 WHEN 2 THEN (SELECT DISPLAY_ORDER * 1000 FROM ONC_COM_USER_MENU WHERE MENU_ID = A.UP_MENU_ID) + A.DISPLAY_ORDER ELSE (SELECT UP_MENU_ID FROM ONC_COM_USER_MENU WHERE MENU_ID = A.UP_MENU_ID) END AS TEMP_VALUE
		                 , CASE A.DEPTH WHEN 1 THEN A.DISPLAY_ORDER*1000 WHEN 2 THEN (SELECT DISPLAY_ORDER * 1000 FROM ONC_COM_USER_MENU WHERE MENU_ID = A.UP_MENU_ID) + A.DISPLAY_ORDER ELSE (SELECT MENU_ID FROM ONC_COM_USER_MENU WHERE MENU_ID = A.UP_MENU_ID) END AS TEMP_VALUE2
		                 , A.IMG_PATH
                         FROM (SELECT A.MENU_ID
                                    , B.UP_MENU_ID
                                    , A.MENU_NAME
                                    , A.MENU_PATH
                                    , A.IS_FOLDER
                                    , B.DEPTH
                                    , A.POPUP_YN
                                    , B.DISPLAY_ORDER
                                    , IMG_PATH
                                   FROM ONC_COM_USER_MENU A
                                     , (SELECT * FROM ONC_COM_USER_LEVEL_MENU WHERE LEVEL_ID =  #{userLevel}) B
                                 WHERE A.MENU_ID = B.MENU_ID
                                   AND A.USE_YN = 'Y'
                            ) A
                            LEFT OUTER JOIN
                            (SELECT UP_MENU_ID
                                  , COUNT(*) AS CNT
                                  FROM ONC_COM_USER_LEVEL_MENU
                                 WHERE LEVEL_ID =  #{userLevel}
                                   AND UP_MENU_ID > 0
                                GROUP BY UP_MENU_ID
                            ) B
                            ON A.MENU_ID = B.UP_MENU_ID
             ) TBL
           ORDER BY VIRTUAL_ORDER, DEPTH, DISPLAY_ORDER
	</select>

	<select id="listMenu" parameterType="string" resultType="kr.co.shovvel.dm.domain.management.operation.menu.MenuVO">
	SELECT * <!-- select listMenu  -->
             , CASE DEPTH WHEN 3 THEN (SELECT DISPLAY_ORDER * 1000 FROM ONC_COM_USER_MENU WHERE MENU_ID = TBL.TEMP_VALUE) + (SELECT DISPLAY_ORDER FROM ONC_COM_USER_MENU WHERE MENU_ID = TBL.TEMP_VALUE2) ELSE TEMP_VALUE  END AS VIRTUAL_ORDER
             FROM  (SELECT A.MENU_ID
                         , A.UP_MENU_ID
                         , A.MENU_NAME
                         , A.MENU_PATH
                         , A.IS_FOLDER
                         , A.DEPTH
                         , A.POPUP_YN
                         , A.DISPLAY_ORDER
                         , IFNULL(B.CNT, 0) AS CHILD_CNT
                         , CASE A.DEPTH WHEN 1 THEN A.DISPLAY_ORDER*1000 WHEN 2 THEN (SELECT DISPLAY_ORDER * 1000 FROM ONC_COM_USER_MENU WHERE MENU_ID = A.UP_MENU_ID) + A.DISPLAY_ORDER ELSE (SELECT UP_MENU_ID FROM ONC_COM_USER_MENU WHERE MENU_ID = A.UP_MENU_ID) END AS TEMP_VALUE
		                 , CASE A.DEPTH WHEN 1 THEN A.DISPLAY_ORDER*1000 WHEN 2 THEN (SELECT DISPLAY_ORDER * 1000 FROM ONC_COM_USER_MENU WHERE MENU_ID = A.UP_MENU_ID) + A.DISPLAY_ORDER ELSE (SELECT MENU_ID FROM ONC_COM_USER_MENU WHERE MENU_ID = A.UP_MENU_ID) END AS TEMP_VALUE2
		                 , A.IMG_PATH
                         FROM (SELECT A.MENU_ID
                                    , A.UP_MENU_ID
                                    , A.MENU_NAME
                                    , A.MENU_PATH
                                    , A.IS_FOLDER
                                    , A.DEPTH
                                    , A.POPUP_YN
                                    , A.DISPLAY_ORDER
                                    , IMG_PATH
                                   FROM ONC_COM_USER_MENU A

                                 WHERE A.USE_YN = 'Y'
                            ) A
                            LEFT OUTER JOIN
                            (SELECT UP_MENU_ID
                                  , COUNT(*) AS CNT
                                  FROM ONC_COM_USER_LEVEL_MENU
                                 WHERE LEVEL_ID =  #{userLevel}
                                   AND UP_MENU_ID > 0
                                GROUP BY UP_MENU_ID
                            ) B
                            ON A.MENU_ID = B.UP_MENU_ID
             ) TBL
           ORDER BY VIRTUAL_ORDER, DEPTH, DISPLAY_ORDER
	</select>

	<select id="getMenu" parameterType="String" resultType="kr.co.shovvel.dm.domain.management.operation.menu.Menu">
		SELECT
			*
		FROM
			ONC_COM_USER_MENU
		WHERE
			menu_id = #{menuNo}
     </select>

     <select id="getStartMenu" parameterType="String" resultType="String">
		SELECT A.MENU_PATH
          FROM ONC_COM_USER_MENU A
             , (SELECT * FROM ONC_COM_USER_LEVEL_MENU WHERE DISPLAY_ORDER = 1 AND LEVEL_ID =  #{userLevel}) B
         WHERE A.MENU_ID = B.MENU_ID
           AND A.USE_YN = 'Y'
         LIMIT 1
     </select>

     <select id="getNewMenuId" parameterType="kr.co.shovvel.dm.domain.management.operation.menu.Menu"
                               resultType="Integer">
     	SELECT MAX(MENU_ID) AS MENU_ID
     	  FROM ONC_COM_USER_MENU
     </select>

   	<insert id="insert" parameterType="kr.co.shovvel.dm.domain.management.operation.menu.Menu">
		<selectKey keyProperty="menu_id" resultType="int" order="BEFORE">
	  		SELECT IFNULL(MAX(MENU_ID), 0) + 1 FROM ONC_COM_USER_MENU
	  	</selectKey>
		INSERT INTO
		  ONC_COM_USER_MENU
		  (
		  	MENU_ID
		   ,UP_MENU_ID
		   ,MENU_NAME
		   ,DEPTH
		   ,DISPLAY_ORDER
		   ,MENU_PATH
		   ,IMG_PATH
		   ,IS_FOLDER
		   ,POPUP_YN
		   ,DESCRIPTION
		   )
		VALUES
		  (
		    #{menuId}
		   ,#{upMenuId}
		   ,#{menuName}
		   ,#{depth}
		   ,(SELECT IFNULL(MAX(DISPLAY_ORDER)+1,1) FROM ONC_COM_USER_MENU A WHERE UP_MENU_ID = #{upMenuId} )
		   ,#{menuPath}
		   ,#{imgPath}
		   ,#{isFolder}
		   ,#{popupYn}
		   ,#{description}
		  )
	</insert>

     <update id="update" parameterType="kr.co.shovvel.dm.domain.management.operation.menu.Menu">
		UPDATE
				  ONC_COM_USER_MENU
		   SET
			      MENU_NAME = #{menuName}
				, MENU_PATH = #{menuPath}
				, IMG_PATH = #{imgPath}
				, POPUP_YN = #{popupYn}
				, DESCRIPTION = #{description}
		WHERE
		          MENU_ID = #{menuId}
	</update>

<!-- 	<delete id="delete" parameterType="Integer"> -->
<!-- 		DELETE FROM -->
<!-- 			ONC_COM_USER_MENU -->
<!-- 		WHERE -->
<!-- 			MENU_ID = #{menuId} -->
<!--      </delete> -->

	<update id="delete" parameterType="Integer">
		UPDATE	ONC_COM_USER_MENU
		SET		USE_YN	=	'N'
		WHERE	MENU_ID	=	#{menuId}
     </update>

     <delete id="deleteUserAuth" parameterType="Integer">
		DELETE FROM
			ONC_COM_USER_LEVEL_MENU
		WHERE
			MENU_ID = #{menuId}
     </delete>

	<select id="list" resultType="kr.co.shovvel.dm.domain.management.operation.menu.Menu">
		SELECT
			*
		FROM
			ONC_COM_USER_MENU
		ORDER BY DEPTH, DISPLAY_ORDER,  MENU_ID
     </select>

   	<insert id="addMenu" parameterType="kr.co.shovvel.dm.domain.management.operation.menu.Menu">
		<selectKey keyProperty="menu_id" resultType="int" order="BEFORE">
	  		SELECT IFNULL(MAX(MENU_ID), 0) + 1 FROM ONC_COM_USER_MENU
	  	</selectKey>
		INSERT INTO
		  ONC_COM_USER_MENU
		  (
		  	MENU_ID
		   ,UP_MENU_ID
		   ,MENU_NAME
		   ,DEPTH
		   ,DISPLAY_ORDER
		   ,MENU_PATH
		   ,IMG_PATH
		   ,IS_FOLDER
		   ,POPUP_YN
		   ,DESCRIPTION
		   ,USE_YN
		   )
		VALUES
		  (
		    #{menuId}
		   ,0
		   ,#{menuName}
		   ,0
		   <!-- ,(SELECT IFNULL(MAX(DISPLAY_ORDER)+1,1) FROM ONC_COM_USER_MENU A WHERE UP_MENU_ID = #{up_menu_id} ) -->
		   ,#{menuId}
		   ,#{menuPath}
		   ,''
		   ,'N'
		   ,'N'
		   ,''
		   ,'Y'
		  )
	</insert>


	<update id="modify" parameterType="kr.co.shovvel.dm.domain.management.operation.menu.Menu">
		UPDATE	ONC_COM_USER_MENU
		   SET	MENU_NAME		=	#{menuName}
			,	MENU_PATH		=	#{menuPath}
			,	DEPTH			=	#{depth}
			,	UP_MENU_ID		=	#{upMenuId}
			,	DISPLAY_ORDER	=	#{displayOrder}
			,	IS_FOLDER		=	#{isFolder}
		WHERE	MENU_ID			=	#{menuId}
	</update>

	<update id="modifyLevel" parameterType="kr.co.shovvel.dm.domain.management.operation.menu.Menu">
		UPDATE	ONC_COM_USER_LEVEL_MENU
		   SET	DEPTH			=	#{depth}
			,	UP_MENU_ID		=	#{upMenuId}
			,	DISPLAY_ORDER	=	#{displayOrder}
		WHERE	MENU_ID			=	#{menuId}
	</update>


</mapper>
