@font-face {
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: 400;
  src: local('NanumGothic'), url(http://fonts.gstatic.com/s/nanumgothic/v5/l6D95h51ocAZakGcjUM0xHhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}
@font-face {
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: 700;
  src: local('NanumGothic Bold'), local('NanumGothic-Bold'), url(http://fonts.gstatic.com/s/nanumgothic/v5/P5XmTawmZlSUXQlRuA1sCHl4twXkwp3_u9ZoePkT564.woff) format('woff');
}
@font-face {
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: 800;
  src: local('NanumGothic ExtraBold'), local('NanumGothic-ExtraBold'), url(http://fonts.gstatic.com/s/nanumgothic/v5/P5XmTawmZlSUXQlRuA1sCGpVmE9oLybi4D_AN-2K110.woff) format('woff');
}
