<?xml version="1.0" encoding="UTF-8" ?>
 <!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.shovvel.dm.dao.management.partnermng.partner.PartnerMapper" >

	<select id="selectPartnerCount" resultType="int">
	SELECT	COUNT(1)
	FROM 	COM_PARTNER
	WHERE 	USE_YN = 'Y'
	AND 		PARTNER_CLCD IN ('50201020', '50201030') /* 병원, 보험사로 제한함 */
	<if test="condition.search_partner_clcd != null and condition.search_partner_clcd != ''" >
	AND 		PARTNER_CLCD = #{condition.search_partner_clcd}
	</if>
	<if test="condition.search_partner_nm != null and condition.search_partner_nm != ''" >
	AND 		PARTNER_NM LIKE CONCAT('%', #{condition.search_partner_nm}, '%')
	</if>
	</select>
	
	<select id="selectPartnerList" resultType="kr.co.shovvel.dm.domain.management.partnermng.partner.PartnerDomain">
		<include refid="kr.co.shovvel.dm.dao.common.CommonMapper.paging_header" />
		SELECT	PARTNER_SNO
					, PARTNER_CD
					, PARTNER_NM
					, PARTNER_CLCD
					, (select CD_NM from COM_CD_MAP where LANGUAGE_CLCD = #{condition.language_clcd} AND COM_CD = A.PARTNER_CLCD) PARTNER_CLNM
					, PARTNER_BUSINESS_CLCD
					, PARTNER_REP_NM
					, PARTNER_BUSINESS_NO
					, PARTNER_CORP_NO
					, PARTNER_MEDICAl_NO
					, PARTNER_TEL_NO
					, PARTNER_FAX_NO
					, PARTNER_EMAIL
					, PARTNER_HOME_PAGE
					, PARTNER_ADDR
					, PARTNER_DESC
					, PARTNER_USER_NM
					, PARTNER_USER_TEL_NO
					, PARTNER_USER_EMAIL
					, PARTNER_USER_HP_NO
					, IFNULL(DATE_FORMAT(PARTNER_CONTRACT_INS_DD, '%Y-%m-%d'), '-') PARTNER_CONTRACT_INS_DD
					, IFNULL(DATE_FORMAT(PARTNER_CONTRACT_UPD_DD, '%Y-%m-%d'), '-') PARTNER_CONTRACT_UPD_DD
					, IFNULL(DATE_FORMAT(PARTNER_CONTRACT_END_DD, '%Y-%m-%d'), '-') PARTNER_CONTRACT_END_DD
					, PARTNER_COACHING_USE_YN
					, PARTNER_COMMUNITY_USE_YN
		FROM 	COM_PARTNER A
		WHERE 	USE_YN = 'Y'
		AND 		PARTNER_CLCD IN ('50201020', '50201030') /* 병원, 보험사로 제한함 */
		<if test="condition.search_partner_clcd != null and condition.search_partner_clcd != ''" >
		AND 		PARTNER_CLCD = #{condition.search_partner_clcd}
		</if>
		<if test="condition.search_partner_nm != null and condition.search_partner_nm != ''" >
		AND 		PARTNER_NM LIKE CONCAT('%', #{condition.search_partner_nm}, '%')
		</if>
		ORDER BY PARTNER_SNO DESC
		<include refid="kr.co.shovvel.dm.dao.common.CommonMapper.paging_footer" />
	</select>
	
	<select id="selectPartnerInfo" resultType="kr.co.shovvel.dm.domain.management.partnermng.partner.PartnerDomain">
		SELECT	PARTNER_SNO
					, PARTNER_CD
					, PARTNER_NM
					, PARTNER_CLCD
					, PARTNER_BUSINESS_CLCD
					, PARTNER_REP_NM
					, PARTNER_BUSINESS_NO
					, PARTNER_CORP_NO
					, PARTNER_MEDICAl_NO
					, PARTNER_TEL_NO
					, PARTNER_FAX_NO
					, PARTNER_EMAIL
					, PARTNER_HOME_PAGE
					, PARTNER_ADDR
					, PARTNER_DESC
					, PARTNER_USER_NM
					, PARTNER_USER_TEL_NO
					, PARTNER_USER_EMAIL
					, PARTNER_USER_HP_NO
					, IFNULL(DATE_FORMAT(PARTNER_CONTRACT_INS_DD, '%Y-%m-%d'), '') PARTNER_CONTRACT_INS_DD
					, IFNULL(DATE_FORMAT(PARTNER_CONTRACT_UPD_DD, '%Y-%m-%d'), '') PARTNER_CONTRACT_UPD_DD
					, IFNULL(DATE_FORMAT(PARTNER_CONTRACT_END_DD, '%Y-%m-%d'), '') PARTNER_CONTRACT_END_DD
					, PARTNER_COACHING_USE_YN
					, PARTNER_COMMUNITY_USE_YN
		FROM 	COM_PARTNER
		WHERE 	USE_YN = 'Y'
		AND		PARTNER_SNO = #{partner_sno}
	</select>
	
	<insert id="insertPartner">
	<!-- partner_sno -->
		<selectKey keyProperty="partner_sno" resultType="String" order="BEFORE">
	  		SELECT IFNULL(MAX(PARTNER_SNO), 0) + 1 FROM COM_PARTNER
	  	</selectKey>
	  	
		INSERT INTO COM_PARTNER 
		(	PARTNER_SNO
			, PARTNER_CD
			, PARTNER_NM
			, PARTNER_CLCD
			, PARTNER_BUSINESS_CLCD
			, PARTNER_REP_NM
			, PARTNER_BUSINESS_NO
			, PARTNER_CORP_NO
			, PARTNER_MEDICAl_NO
			, PARTNER_TEL_NO
			, PARTNER_FAX_NO
			, PARTNER_EMAIL
			, PARTNER_HOME_PAGE
			, PARTNER_ADDR
			, PARTNER_DESC
			, PARTNER_USER_NM
			, PARTNER_USER_TEL_NO
			, PARTNER_USER_EMAIL
			, PARTNER_USER_HP_NO
			, PARTNER_COACHING_USE_YN
			, PARTNER_COMMUNITY_USE_YN
			, PARTNER_CONTRACT_INS_DD
			, PARTNER_CONTRACT_UPD_DD
			, PARTNER_CONTRACT_END_DD
			, USE_YN
			, INS_DT
			, INS_USER_SNO
			, UPD_DT
			, UPD_USER_SNO	)
		VALUES
		(	#{partner_sno}
			, CONCAT(RIGHT(#{partner_clcd}, 2), LPAD(#{partner_sno}, 6, 0))
			, #{partner_nm}
			, #{partner_clcd}
			, #{partner_business_clcd}
			, #{partner_rep_nm}
			, #{partner_business_no}
			, #{partner_corp_no}
			, #{partner_medical_no}
			, #{partner_tel_no}
			, #{partner_fax_no}
			, #{partner_email}
			, #{partner_home_page}
			, #{partner_addr}
			, #{partner_desc}
			, #{partner_user_nm}
			, #{partner_user_tel_no}
			, #{partner_user_email}
			, #{partner_user_hp_no}
			, #{partner_coaching_use_yn}
			, #{partner_community_use_yn}
			, REPLACE(#{partner_contract_ins_dd}, '-', '')
			, REPLACE(#{partner_contract_upd_dd}, '-', '')
			, REPLACE(#{partner_contract_end_dd}, '-', '')
			, 'Y'
			, NOW()
			, #{userSno}
			, NOW()
			, #{userSno}	)
	</insert>
	
	<update id="updatePartner">
		UPDATE	COM_PARTNER
		SET		PARTNER_NM = #{partner_nm} ,
					PARTNER_CLCD = #{partner_clcd} ,
					PARTNER_BUSINESS_CLCD = #{partner_business_clcd} ,
					PARTNER_REP_NM = #{partner_rep_nm} ,
					PARTNER_BUSINESS_NO = #{partner_business_no} ,
					PARTNER_CORP_NO = #{partner_corp_no} ,
					PARTNER_MEDICAl_NO = #{partner_medical_no} ,
					PARTNER_TEL_NO = #{partner_tel_no} ,
					PARTNER_FAX_NO = #{partner_fax_no} ,
					PARTNER_EMAIL = #{partner_email} ,
					PARTNER_HOME_PAGE = #{partner_home_page} ,
					PARTNER_ADDR = #{partner_addr} ,
					PARTNER_DESC = #{partner_desc} ,
					PARTNER_USER_NM = #{partner_user_nm} ,
					PARTNER_USER_TEL_NO = #{partner_user_tel_no},
					PARTNER_USER_EMAIL = #{partner_user_email},
					PARTNER_USER_HP_NO = #{partner_user_hp_no},
					PARTNER_COACHING_USE_YN = #{partner_coaching_use_yn},
					PARTNER_COMMUNITY_USE_YN = #{partner_community_use_yn},
					PARTNER_CONTRACT_INS_DD = REPLACE(#{partner_contract_ins_dd}, '-', ''),
					PARTNER_CONTRACT_UPD_DD = REPLACE(#{partner_contract_upd_dd}, '-', ''),
					PARTNER_CONTRACT_END_DD = REPLACE(#{partner_contract_end_dd}, '-', ''),
					UPD_DT = NOW(),
					UPD_USER_SNO = #{userSno}
		WHERE	PARTNER_SNO = #{partner_sno}
	</update>
	
	<delete id="deletePartner">
		UPDATE	COM_PARTNER
		SET		USE_YN = 'N',
					UPD_DT = NOW(),
					UPD_USER_SNO = #{userSno}
		WHERE	PARTNER_SNO = #{partner_sno}
	</delete>

	<insert id="insertPartnerHist">
		<selectKey keyProperty="partner_hist_sno" resultType="String" order="BEFORE">
	  		SELECT IFNULL(MAX(PARTNER_HIST_SNO), 0) + 1 FROM COM_PARTNER_HIST
	  	</selectKey>

		INSERT INTO COM_PARTNER_HIST
		SELECT	#{partner_hist_sno} PARTNER_HIST_SNO
					, PARTNER_SNO
					, PARTNER_CD
					, PARTNER_NM
					, PARTNER_CLCD
					, PARTNER_BUSINESS_CLCD
					, PARTNER_REP_NM
					, PARTNER_BUSINESS_NO
					, PARTNER_CORP_NO
					, PARTNER_MEDICAl_NO
					, PARTNER_TEL_NO
					, PARTNER_FAX_NO
					, PARTNER_EMAIL
					, PARTNER_HOME_PAGE
					, PARTNER_ADDR
					, PARTNER_DESC
					, PARTNER_USER_NM
					, PARTNER_USER_TEL_NO
					, PARTNER_USER_EMAIL
					, PARTNER_USER_HP_NO
					, PARTNER_CONTRACT_INS_DD
					, PARTNER_CONTRACT_UPD_DD
					, PARTNER_CONTRACT_END_DD
					, PARTNER_COACHING_USE_YN
					, PARTNER_COMMUNITY_USE_YN
					, USE_YN
					, INS_DT
					, INS_USER_SNO
		FROM 	COM_PARTNER
		WHERE 	PARTNER_SNO = #{partner_sno}
	</insert>
	
	<select id="selectExcelList" resultType="java.util.LinkedHashMap">
		SELECT	PARTNER_CD
					, PARTNER_NM
					, (select CD_NM from COM_CD_MAP where LANGUAGE_CLCD = #{condition.language_clcd} AND COM_CD = A.PARTNER_CLCD) PARTNER_CLCD
					, PARTNER_BUSINESS_CLCD
					, PARTNER_REP_NM
					, PARTNER_BUSINESS_NO
					, PARTNER_CORP_NO
					, PARTNER_MEDICAl_NO
					, PARTNER_TEL_NO
					, PARTNER_FAX_NO
					, PARTNER_EMAIL
					, PARTNER_HOME_PAGE
					, PARTNER_ADDR
					, PARTNER_DESC
					, PARTNER_USER_NM
					, PARTNER_USER_TEL_NO
					, PARTNER_USER_EMAIL
					, PARTNER_USER_HP_NO
					, IFNULL(DATE_FORMAT(PARTNER_CONTRACT_INS_DD, '%Y-%m-%d'), '-') PARTNER_CONTRACT_INS_DD
					, IFNULL(DATE_FORMAT(PARTNER_CONTRACT_UPD_DD, '%Y-%m-%d'), '-') PARTNER_CONTRACT_UPD_DD
					, IFNULL(DATE_FORMAT(PARTNER_CONTRACT_END_DD, '%Y-%m-%d'), '-') PARTNER_CONTRACT_END_DD
					, PARTNER_COACHING_USE_YN
					, PARTNER_COMMUNITY_USE_YN
		FROM 	COM_PARTNER A
		WHERE 	USE_YN = 'Y'
		AND 		PARTNER_CLCD IN ('50201020', '50201030') /* 병원, 보험사로 제한함 */
		<if test="condition.search_partner_clcd != null and condition.search_partner_clcd != ''" >
		AND 		PARTNER_CLCD = #{search_partner_clcd}
		</if>
		<if test="condition.search_partner_nm != null and condition.search_partner_nm != ''" >
		AND 		PARTNER_NM LIKE CONCAT('%', #{search_partner_nm}, '%')
		</if>
		ORDER BY PARTNER_SNO DESC
	</select>
	
</mapper>