<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.shovvel.dm.dao.logis.signUp.SignUpMapper">

    <!-- 회원가입 여부를 확인한다. -->
    <select id="searchLoginId" parameterType="string" resultType="string">
        SELECT USER_UID
        FROM user
        WHERE LOGIN_ID = #{loginId};
    </select>

    <!-- 회원을 추가한다. -->
    <insert id="insertUser" useGeneratedKeys="true" keyProperty="userUid"
            parameterType="kr.co.shovvel.dm.domain.logis.user.LogisUser">
        INSERT INTO user(LOGIN_ID, PASSWD, COMPANY_UID, STATUS, SIGN_UP_DATE)
        VALUES (#{loginId}, #{passwd}, #{companyUid}, 'Y', NOW());
    </insert>

    <!-- 회원의 회사 정보를 추가한다. -->
    <insert id="insertUserCompany" useGeneratedKeys="true" keyProperty="companyUid"
            parameterType="kr.co.shovvel.dm.domain.logis.user.UserCompany">
        INSERT INTO user_company(COMPANY_NAME, POSTCODE, ADDRESS, DETAIL_ADDRESS, PHONE_NUMBER, MANAGER_NAME)
        VALUES (#{companyName}, #{postcode}, #{address}, #{detailAddress}, #{phoneNumber}, #{managerName});
    </insert>

</mapper>